<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Pendência</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Titulo</label>
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle" />
    </p>

    <p>
      <label for="summary">Resumo</label>
      <textarea id="summary" rows="5" name="summary" [(ngModel)]="enteredSummary" ></textarea>
    </p>

    <p>
      <label for="due-date">Período</label>
      <input type="date" id="due-date" name="due-date" [(ngModel)]="enteredDate" />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>
